.card{
  max-width: 100%;
  padding: 10px;
}

.card-body h3{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 30px;
  font-weight: 700px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-body p{
  font-size: 14px;
}
