<h1>About us!</h1>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1826&q=80);">
</div>
<div class="centered">
  <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend rutrum tellus, ut ultrices est fermentum eget. Sed blandit dui vel quam tincidunt eleifend. Ut nec porta enim. Nunc feugiat tempus finibus. Maecenas molestie lectus sit amet sem luctus, sed consequat tortor auctor. Morbi vel ullamcorper ipsum. Suspendisse pharetra interdum orci, ut consectetur mauris commodo ac. Vivamus volutpat magna a leo egestas, sed molestie lectus malesuada. Nam ut tellus ex. Cras enim odio, maximus nec scelerisque at, viverra sit amet ex. Cras gravida leo vel magna elementum iaculis. Duis fermentum ornare efficitur.</p>
  <p class="about">Morbi fringilla tincidunt nulla id cursus. Vivamus varius leo vel tortor porta volutpat. Curabitur mollis odio turpis, dapibus rutrum erat feugiat id. Nulla placerat nisi consectetur, rhoncus est vel, fringilla elit. Aliquam lobortis turpis mi, vel faucibus enim tincidunt eu. Nam a ipsum finibus, fringilla justo non, rhoncus libero. Praesent ut tortor sit amet lorem viverra maximus sed sit amet libero. Vivamus aliquam erat ut nisi ultricies posuere.</p>
  </div>
  <a class="btn btn-gradient" href="http://127.0.0.1:3000/">Back to homepage</a>

</div>
