<! -- banner -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dqjdq06qv/image/upload/v1675237893/background-image-atlas_hooexg.jpg);">
  <div class="container">
      <h1>Atlas</h1>
      <p>Your next takeoff is one click-away!</p>
      <a class="btn btn-flat" href="spaceships/new">Book now</a>
  </div>
</div>

<! -- cards -->

<div class="container">
  <div class="title"><br>
    <h4>Highlights</h4>
  </div><br>
  <div class="cards">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqjdq06qv/image/upload/v1675260739/nasa-CpHNKNRwXps-unsplash_dgdto3.jpg)">
        <div>
        <%= link_to 'Spaceships', spaceships_path, :class => "btn btn-dark"%>
        </div>
      </div>

      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqjdq06qv/image/upload/v1675260962/peakpx_pvyazi.jpg)">
      <div>
        <%= link_to 'Destinations', destinations_path, :class => "btn btn-dark"%>
        </div>
      </div>

      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqjdq06qv/image/upload/v1675260758/ju-guan-D-jLxBtEwaA-unsplash_efx5nd.jpg)">
      <div>
        <%= link_to 'Reviews', bookings_path, :class => "btn btn-dark"%>
        </div>
    </div>
</div>

<! --reviews -->
<br>
<br>

<div class="container">
<div class="title">
<h4>Reviews</h4>
<br>
<div class="review">
  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
  <div class="review-content">
    <p><small>Neil Armstrong</small></p>
    <p>Outstanding service. I have been on Mars five times already.</p>
  </div>

<br>
<br>


<div class="review">
  <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
  <div class="review-content">
    <p><small>Thomas Pesquet</small></p>
    <p>L'espace me manque quand je suis sur terre. Une expérience à couper le souffle.</p>
  </div>

</div>
</div>
