<! -- banner -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dqjdq06qv/image/upload/v1675237893/background-image-atlas_hooexg.jpg);">
  <div class="container">
      <h1>Atlas</h1>
      <p>Your next takeoff is one click-away!</p>
      <a class="btn btn-flat" href="spaceships/new">Book now</a>
  </div>
</div>

<! -- cards -->

<div class="container">
  <div class="title"><br>
    <h4>Highlights</h4>
  </div><br>
  <div class="cards">
    <%= link_to spaceships_path do %>
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqjdq06qv/image/upload/v1675260739/nasa-CpHNKNRwXps-unsplash_dgdto3.jpg)">
        <h4>Spaceships</h4>
      </div>
    <% end %>

    <%= link_to destinations_path do %>
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqjdq06qv/image/upload/v1675260962/peakpx_pvyazi.jpg)">
        <h4>Destinations</h4>
      </div>
    <% end %>

    <%= link_to bookings_path do %>
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqjdq06qv/image/upload/v1675260758/ju-guan-D-jLxBtEwaA-unsplash_efx5nd.jpg)">
        <h4>Bookings</h4>
      </div>
    <% end %>
  </div>
</div>
