<div class="container">
  <ul>
<<<<<<< HEAD
=======
    <h1>test</h1>
>>>>>>> 6dd385c2490886cfd1fb7c3ccaa96a2b957bbe08
    <% @spaceships.each do |spaceship| %>
    <li><%= link_to spaceship.name, spaceship_path(spaceship) %></li>
    <% end %>

  </ul>

  <%= link_to "Add a spaceship", new_spaceship_path%>
  <%= link_to "Back to homepage", root_path %>
</div>
