.banner .btn{
  width: 150px;
  height: 32px;
  background: transparent;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  letter-spacing: 2px;
  transition: 0.5s ease;
  cursor: pointer;
  margin-top: 15px;

}

.btn:hover{
  color: black;
  background: whitesmoke;

}
