<div class="container">
  <ul>
    <h1>Destinations</h1>
    <% @destinations.each do |destination| %>
    <li><%= link_to destination.name, destination_path(destination) %></li>
    <% end %>

  </ul>

  <%= link_to "Add a destination", new_destination_path%>
  <%= link_to "Back to homepage", root_path %>
</div>
